@import './public.scss';

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.f-w-b {
  font-weight: bold;
}
.p-1 {
  padding: $pd1;
}
.pt-1 {
  padding-top: $pd1;
}
.mt-1 {
  margin-top: $pd1;
}
.mr-1 {
  margin-right: $pd1;
}
.mr-2 {
  margin-right: $pd2;
}
.mr-3 {
  margin-right: $pd3;
}
.text-c {
  text-align: center;
}
.flex {
  flex: 1;
}